
:root {
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%)
}
body {font-family: "Karla",sans-serif;
font-size: 16px;
background-color: hsl(204, 43%, 93%);
padding: 50px 30px;}

h1 {font-weight: 700;
margin-bottom: 15px;
font-size: 20px;
color: white;}

h2 {color: var(--Bright-Yellow)}
p {font-weight: 400;
margin-bottom: 20px;}
li {font-weight: 400;}

.container {display: grid;
grid-template-columns: 1fr;
max-width: 320px;
}
.price {font-weight: 700;
font-size: 22px;
color: white;}

.text-grey {color: var(--Light-Gray);
font-size: 16px;}
.subtittle {display: flex;
    align-content:  center;
    gap: 5px;
}
.box__community, 
.box__subscription,
.box__why-us {padding: 35px 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box__community h1 {color: var(--Cyan);}
.box__community {background-color: white;
color: var(--Grayish-Blue);}

.box__subscription {background-color: var(--Cyan);
color: white;}


.box__why-us {background-color: hsla(179, 62%, 43%, 0.832);
    color: var(--Light-Gray);}
button {background-color: var(--Bright-Yellow);
width: 90%;
padding: 10px;
border-radius: 5px;}
button:hover {background-color: white;
color: var(--Bright-Yellow);}

footer {margin-top: 100px;}

@media (min-width: 800px) {body {align-content: center;}
    .container {display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 700px;
    justify-self: center;
    }
.box__community{grid-column: 1/3;}}